@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    z-index: -1;
    visibility: hidden; }
  80% {
    opacity: 1;
    transform: translateX(1rem);
    z-index: 2; }
  100% {
    opacity: 1;
    transform: translateX(0);
    z-index: 2; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    z-index: -1;
    visibility: hidden; }
  80% {
    opacity: 1;
    transform: translateX(-1rem);
    z-index: 2; }
  100% {
    opacity: 1;
    transform: translateX(0);
    z-index: 2; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes pictureAppear {
  0% {
    transform: translateX(-4rem); }
  100% {
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62,5%; }

body {
  box-sizing: border-box; }

::selection {
  color: white; }

html {
  font-family: "Lato";
  font-weight: 700;
  word-wrap: break-word; }

h1 {
  font-size: 2rem; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 1.5rem; } }

h2 {
  font-size: 4rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 414px) {
    h2 {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 768px) and (min-width: 415px) {
    h2 {
      font-size: 3rem; } }
  h2 a {
    text-decoration: underline;
    color: black; }
    h2 a:hover {
      color: white; }

header {
  position: fixed;
  left: 12rem;
  top: 4.5rem;
  z-index: 2; }
  @media only screen and (max-width: 425px) {
    header {
      left: 3.5rem;
      top: 8rem; } }
  @media only screen and (max-width: 415px) {
    header {
      left: 2rem; } }

/*animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 4.5s;
    transition: all .2s;*/
.avatar {
  position: fixed;
  top: 2rem;
  left: 3.5rem;
  z-index: 2; }
  @media only screen and (max-width: 415px) {
    .avatar {
      left: 2rem; } }
  .avatar img {
    filter: sepia(0.4);
    width: 70%;
    /*animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 5s;
        backface-visibility: hidden;*/ }
    @media only screen and (max-width: 425px) {
      .avatar img {
        width: 50%; } }
    .avatar img:hover {
      animation-name: spin;
      animation-duration: 25000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }

.page {
  position: sticky;
  top: 0px;
  height: 100vh;
  padding-top: 20rem;
  padding-left: 3.5rem;
  z-index: 1;
  /*animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    backface-visibility: hidden;*/ }
  @media only screen and (max-width: 767px) {
    .page {
      padding-top: 14rem; } }
  @media only screen and (max-width: 415px) {
    .page {
      padding-left: 2rem; } }
  .page img {
    height: 8rem;
    margin-right: 4rem;
    margin-top: 1rem;
    filter: grayscale(0.3); }
    @media only screen and (max-width: 1024px) {
      .page img {
        margin-right: 1.6rem;
        height: 6rem; } }
    @media only screen and (max-width: 415px) {
      .page img {
        margin-right: 1rem;
        height: 4rem; } }
  .page-1 {
    background-image: linear-gradient(to right bottom, #c3e8e6, #b5ebe8); }
  .page-2 {
    background-image: linear-gradient(to right bottom, #ffa8b6, #f58fa0); }
  .page-3 {
    background-image: linear-gradient(to right bottom, #e5e3cf, #e9e6c2); }
  .page-4 {
    background-image: linear-gradient(to right bottom, #ead5c9, #e0c2b0); }
