$color-1: #C3E8E6;
$color-1-dark:rgb(181, 235, 232);
$color-2:#FFA8B6;
$color-2-dark: rgb(245, 143, 160);

$color-3: #E5E3CF;
$color-3-dark: rgb(233, 230, 194);

$color-4: #EAD5C9;
$color-4-dark: rgb(224, 194, 176);

