header {
    position: fixed;
    left: 12rem;
    top: 4.5rem;
    
    z-index: 999999;


    @media only screen and (max-width: 621px){
        left: 3.5rem;
        top: 8rem;
    }
    @media only screen and (max-width: 374px){
        left: 2rem;}

.avatar{
    position: fixed;
    left: 3.5rem;
    @media only screen and (max-width: 374px){
        left: 2rem;}

    top: 2rem;
    z-index: 99999;
    
    


    & img{
        filter: sepia(.8);
        width:70%;

        @media only screen and (max-width: 621px){
            width:50%;
        }

       

  
           

            
        &:hover{
        animation-name: spin;
        animation-duration: 25000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;}
}}}