header {
    
    position: fixed;
    left: 12rem;
    top: 4.5rem;
    z-index:2;
     

    //telefon
    @media only screen and (max-width: 425px){
        left: 7.8rem;
        top: 3.8rem;
    }
    

}

    /*animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 4.5s;
    transition: all .2s;*/

.avatar{
    position: fixed;
    top: 2rem;
    left: 3.5rem;
    z-index:2;

    //telefon
    @media only screen and (max-width: 425px){
        left: 2rem;}

    

    & img{
        filter: sepia(.4);
        width:70%;

        @media only screen and (max-width: 425px){
            width:50%;
        }

        &:hover{
            animation-name: spin;
            animation-duration: 25000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;}

        
        /*animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 5s;
        backface-visibility: hidden;*/
}}