
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes moveInLeft{
	0%{
		opacity: 0;
        transform: translateX(-10rem);
        z-index:-1;
        visibility: hidden;
	}
	80%{
		opacity: 1;
        transform: translateX(1rem);
        z-index: 2;

	}
	100%{
		opacity: 1;
        transform: translateX(0);
        z-index: 2;

	}
}

@keyframes moveInRight{
	0%{
		opacity: 0;
        transform: translateX(10rem);
        z-index:-1;
        visibility: hidden;
        

	}
	80%{
		opacity: 1;
        transform: translateX(-1rem);
        z-index: 2;

	}
	100%{
		opacity: 1;
        transform: translateX(0);
        z-index: 2;

	}
}


@keyframes moveInBottom{
	0%{
		opacity: 0;
		transform: translateY(3rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes pictureAppear{
    0%{
        transform: translateX(-4rem);

    }

    100%{
        transform: translateX(0);
    }
}