html{
    font-family: "Lato";
    font-weight: 700;
}

h1{ 
    font-size: 2rem;

    @media only screen and (max-width: 768px){
        font-size: 1.5rem;
    }
    
}


h2{
    font-size: 4rem;
    //telefon
    @media only screen and (max-width: 374px){
        font-size: 1.5rem;
    }
    //tablet
    @media only screen and (max-width: 768px) and (min-width: 375px){
        font-size: 3rem;
    }
    

    & a{
        text-decoration: underline;
        color: black;
        

        &:hover{
            color: white;
            
        }
    }
}


