html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    word-wrap: break-word;
    width: 100%;

}

h1{ 
    font-size: 2rem;
    //tablet
    @media only screen and (max-width: 768px){
        font-size: 1.5rem;
    }

    // telefon
    @media only screen and (max-width: 425px){
        font-size: 1rem;
    }
    
    
}


h2{
    font-size: 4rem;
    margin-bottom: 4rem;
    padding-left: 3.5rem;
    margin-top: 5%;
    & span{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        // font-style: italic  ;
        // font-size: 3.7rem;

    }


    //tablet
    @media only screen and (max-width: 900px){
        font-size: 3rem;
        padding-left: 0;

    }
    //telefon
    @media only screen and (max-width: 425px){
        font-size: 2rem;
    }
    
    

    & a{
        text-decoration: underline;
        color: black;
        

        &:hover{
            color: white;
            
        }
    }
}
h3{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3rem;
        @media only screen and (max-width: 425px){
            font-size: 1rem;
        }
    
}

